:root{
    --color-primary: #6787f9;
    --color-black: #000;
    --color-white: #fff; 

//  Relação de cores vindo do figma 

  --font-primary: 'Poppins', sans-serif;
  --font-seconday:  'Inter', sans-serif;
  
// Relação de fontes viondo do figma 

}